@model UserListingsViewModel

@{
    ViewData["Title"] = "User Administration";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                E-mail
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <th>
                    @user.Username
                </th>
                <th>
                    @user.Email
                </th>
                <th>
                    <form asp-action="AddToRole" method="post">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="hidden" name="UserId" value="@user.Id" />
                                <select name="Role" asp-items="Model.Roles" class="form-control"></select>
                            </div>
                            <div class="col-md-3">
                                <input class="btn btn-sm btn-primary" type="submit" value="Add To Role" />
                            </div>
                        </div>
                    </form>
                    
                </th>
            </tr>
        }
    </tbody>
</table>